<h2> Listing </h2>
Name: <%= @listing.name %><br>
Description: <%= @listing.description %><br>
Contact: <%= @user.email %>

<section>
<h2> Availability </h2>
<table style="width:30%">
  <tr>
    <th>Start</th>
    <th>End</th>
  </tr>
    <% @availability.each do |availability| %>
    <tr>
      <td><%= availability.start %></td>
      <td><%= availability.end %></td>
    </tr>
    <% end %>
</table>
<h2> Choose your dates </h2>
<form action='/requests/new' method='post'>
  <input type='hidden' name='listing_id' value='<%=@listing.id%>'>
  <label for="start_date">Start date:</label>
  <input type="date" id="start_date" name="start_date" value="<%= Time.now.strftime("%F") %>" min="2019-12-01" max="2020-12-31">
  <label for="end_date">End date:</label>
  <input type="date" id="end_date" name="end_date" value="<%= (Time.now+86400).strftime("%F") %>" min="2019-12-01" max="2020-12-31">
  <button type='submit' id='confirm_request'>Confirm Request</button>
</form>
</section>
