<script>
  function accept_request(id) {
    $(`#status${id}`).text("Accepted");
    $(`#accept${id}`).hide();
    $(`#reject${id}`).hide();
    $.post(`/requests/accept`, {'id': id});
  }
  function reject_request(id){
    $(`#status${id}`).text("Rejected");
    $(`#accept${id}`).hide();
    $(`#reject${id}`).hide();
    $.post(`/requests/reject`, {'id': id});
  }
</script>
<h1>Requests</h1>
<h3>Requests I have made</h3>
<ul>
<% @made_requests.each do |request| %>
<li>
Name of Listing: <%= request.listing.name %>
Description: <%= request.listing.description %>
Price: <%= request.listing.price %>
Status: <%= status_of(request) %>
</li>
<% end %>
</ul>
<h3>Requests I have received</h3>
<ul>
  <% @received_requests.each do |request| %>
  <li>
    Name of listing: <%= request.listing.name %>
    Name of user: <%= User.find_by(id: request.user_id).name %>
    Email of user: <%= User.find_by(id: request.user_id).email %>
    Start date: <%= request.start %>
    End date: <%= request.end %>
  <button id='accept<%= request.id %>' onclick='accept_request(<%= request.id %>)'>Accept</button>
  <button id='reject<%= request.id %>' onclick='reject_request(<%= request.id %>)'>Reject</button>
  <span id='status<%= request.id %>'></span>
  </li>
  <% end %>
</ul>
